body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.grid{
    width: 352px;
    height: 352px;
    border: solid black;
    display: flex;
    flex-direction: column;
}
.row{
    
    display: flex;
    flex: 1;
}
.square{

    flex: 1;
}

.squareVisited{
    background-color: red;
}